<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder ignore-unresolvable="true" location="classpath*:/application.properties"/>

    <context:component-scan base-package="com.junxian.mq.exercise"/>

    <context:annotation-config />

    <rabbit:connection-factory id="mqConnectionFactory" host="${mq.host}" port="${mq.port}" username="${mq.user}" password="${mq.pwd}"/>
    <rabbit:template id="rabbitTemplate" connection-factory="mqConnectionFactory"/>
    <rabbit:admin connection-factory="mqConnectionFactory"/>

    <rabbit:queue name="email"/>

    <rabbit:listener-container connection-factory="mqConnectionFactory" >
        <rabbit:listener ref="emailQueueListener" queue-names="email"/>
    </rabbit:listener-container>


</beans>